#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.game-board {
  display: flex;
  max-width: 300px;
  flex-wrap: wrap;
  gap: 7px;
  margin: 0 auto;
}

.square {
  width: 40px;
  height: 40px;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.square.hidden {
  background-color: gray;
}

.square.with-ring {
  background-color: red;
  color: black;
}

.reset-btn {
  margin-top: 20px;
  background-color: #535bf2;
}
